*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    /* background-color: pink; */
}
body{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial,  sans-serif;
    line-height: 1.5;
    font-weight: 400;
    width: 90%;
    margin: auto;
    border: 2px solid aqua;
    
}